<?php

function recur_ksort(&$array) {
    foreach ($array as &$value) {
        if (is_array($value)) recur_ksort($value);
    }
    return ksort($array);
}

$rules = json_decode(file_get_contents('.php_cs.rules.json'), true);

recur_ksort($rules);

file_put_contents('.php_cs.rules.json', json_encode($rules, JSON_PRETTY_PRINT | JSON_UNESCAPED_SLASHES));

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setUsingCache(false)
    ->registerCustomFixers(new PedroTroller\CS\Fixer\Fixers())
    ->setFinder(PhpCsFixer\Finder::create()->in(__DIR__))
;

return $config;
