language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0


cache:
    directories:
        - $HOME/.composer/cache

matrix:
    include:
        - php: 5.3
          env: 'COMPOSER_FLAGS="--prefer-lowest --prefer-stable"'
        - php: 5.4
          env: 'COMPOSER_FLAGS="--prefer-lowest --prefer-stable"'
        - php: 5.5
          env: 'COMPOSER_FLAGS="--prefer-lowest --prefer-stable"'
        - php: 5.6
          env: 'COMPOSER_FLAGS="--prefer-lowest --prefer-stable"'
        - php: 7.0
          env: 'COMPOSER_FLAGS="--prefer-lowest --prefer-stable"'

# branches:
#     only:
#         - master


before_script:
    - composer update --prefer-source $COMPOSER_FLAGS

script:
    - bin/phpspec run -fpretty

