---
version: 2.1

executorType: machine

orbs:
  php: circleci/php@1.1.0

jobs:
  test:
    docker:
      - image: php:<< parameters.php >>
    parameters:
      php:
        type: string
      symfony:
        type: string
      composer-options:
        type: string
      minimum-stability:
        type: enum
        default: "stable"
        enum: ["stable", "dev"]
    steps:
      - checkout
      - run: |
          apt-get update
          apt-get -y install git zip jq
      - run: |
          php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
          php composer-setup.php
          php -r "unlink('composer-setup.php');"
          mv composer.phar /usr/local/bin/composer
      - run: |
          curl -s https://repo.packagist.org/p2/symfony/symfony.json | jq '.packages."symfony/symfony" | map(select(.version_normalized | startswith("<< parameters.symfony >>"))) | first.replace | to_entries | map({key: .key, value: "< << parameters.symfony >> || > << parameters.symfony >>.9999"}) | from_entries' > conflict.json
          jq -s '.[0] + {conflict: .[1]}' composer.json conflict.json > composer.new.json
          mv composer.new.json composer.json
          rm conflict.json
          cat composer.json
      - run: |
          jq -s '.[0] + {"minimum-stability": "<< parameters.minimum-stability >>"}' composer.json > composer.new.json
          mv composer.new.json composer.json
          cat composer.json
      - run: composer update << parameters.composer-options >> --ignore-platform-req=ext-intl
      - run: vendor/bin/phpstan analyse --no-progress --memory-limit=-1
      - run: vendor/bin/phpspec run -v --config=phpspec.no-coverage.yml
      - run: bin/lint-twig src/
      - run: vendor/bin/php-cs-fixer fix --diff --dry-run -vvv

workflows:
  version: 2
  workflow:
    jobs:
      - test:
          name: php7.4
          php: "7.4"
          matrix:
            parameters:
              symfony:
                - "5.4"
              composer-options:
                - "--prefer-stable --prefer-lowest"
                - "--prefer-stable"
      - test:
          name: php8.0
          php: "8.0"
          matrix:
            parameters:
              symfony:
                - "5.4"
                - "6.0"
              composer-options:
                - "--prefer-stable --prefer-lowest"
                - "--prefer-stable"
      - test:
          name: php8.1
          php: "8.1"
          matrix:
            parameters:
              symfony:
                - "5.4"
                - "6.0"
              composer-options:
                - "--prefer-stable --prefer-lowest"
                - "--prefer-stable"
      - test:
          name: php8.1-dev
          php: "8.1"
          minimum-stability: "dev"
          matrix:
            parameters:
              symfony:
                - "6.1"
              composer-options:
                - "--prefer-stable --prefer-lowest"
                - "--prefer-stable"
