{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
    <span class="label">
    <span class="icon">
        <svg width="32" height="30" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path stroke="null"
                                                                                                 d="M31.553 6.78q.775 1.103.349 2.498l-5.327 17.55q-.368 1.239-1.481 2.081t-2.373.843H4.842q-1.491 0-2.876-1.036T.039 26.169Q-.426 24.87 0 23.709q0-.078.058-.523t.078-.717q.019-.155-.059-.417t-.058-.377q.04-.213.155-.407t.32-.455.32-.455q.445-.736.871-1.773t.581-1.772q.058-.194.01-.581t-.01-.543q.058-.213.33-.542t.329-.445q.407-.698.813-1.782t.485-1.744q.019-.174-.049-.62t.01-.542q.077-.252.426-.59t.426-.436q.368-.504.823-1.637t.533-1.87q.02-.154-.058-.493t-.039-.514q.039-.155.174-.348t.35-.446.328-.407q.155-.232.32-.59t.29-.678.31-.698.378-.62.514-.455.697-.222.92.106l-.02.058Q11.294 0 11.545 0h14.74q1.434 0 2.209 1.085t.349 2.518l-5.308 17.549q-.697 2.305-1.385 2.973t-2.489.668H2.828q-.523 0-.736.29-.213.31-.02.834.465 1.356 2.79 1.356H22.74q.562 0 1.085-.3t.678-.804l5.81-19.118q.136-.427.098-1.104.736.29 1.142.832zm-20.61.038q-.077.252.04.436t.387.184h11.777q.252 0 .494-.184t.32-.436l.406-1.24q.078-.251-.039-.435t-.387-.184H12.164q-.252 0-.494.184t-.32.435l-.406 1.24zm-1.607 4.959q-.077.252.039.436t.387.184H21.54q.252 0 .494-.184t.32-.436l.406-1.24q.078-.252-.038-.436t-.388-.184H10.557q-.252 0-.494.184t-.32.436l-.407 1.24z"/></svg>
    </span>
    <strong>Dictionaries</strong>
    <span class="count">
        <span>{{ collector.dictionaries|length }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
<h2>Dictionaries</h2>
{% for dictionary in collector.dictionaries %}
    <h3>{{ dictionary.name }}</h3>
    <table>
        <tbody>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for key, value in dictionary %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
